header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: hsla(0, 0%, 7%, .25);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.header_icons_sect {
    display: flex;
    align-items: center;
    gap: 25px;
}

header svg,
.project_links_icon_sect svg {
    color: rgba(235, 236, 243, 0.5);
    transition: all ease-in-out 300ms;
}

header svg:hover,
.project_links_icon_sect svg:hover {
    color: #0aff9d;
    transform: scale(1.03);
}

header button,
.about_uses .btn {
    height: 45px;
    color: #0aff9d;
    width: 170px;
    font-size: 17px;
}

.header_menu {
    display: none;
}

@media(max-width:600px) {
    header {
        padding: 20px;
    }

    .header_icons_sect {
        gap: 15px;
    }

    .header_icons_sect svg {
        height: 20px;
        width: 20px;
    }

    header .btn {
        height: 40px;
        width: 150px;
        font-size: 15px;
    }

    .header_menu {
        display: block;
    }
}